.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 4px solid rgb(26, 4, 66);
  margin: 2rem;
  border-radius: 12px;
  padding: 12px;
  background: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-form {
  width: 70vh;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.todo-form input {
  background: #ffffff3b;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-form input:focus {
  filter: drop-shadow(0 0 2em #ff03c8cc);
}

.todo-form input:hover {
  filter: drop-shadow(0 0 2em #ff03c8cc);
}

.todo-form input::placeholder {
  font-size: 1.5rem;
  color: rgba(53, 11, 72, 0.938);
}

.todo-form button {
  height: 90%;
  width: 50px;
  border: 4px solid #22085089;
  border-radius: 12px;
  outline: none;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background: transparent;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-form button:hover {
  filter: drop-shadow(0 0 2em #ff03c8cc);
}
